body {
    background-color: #D3D3D3;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    width: 1100px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

.subcontainer {
    width: 1000x;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

.topbar {
    width: 1100px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 10px;
}

h1, h2 {
    text-decoration: underline;
    text-align: center;
}

h3 {
    text-align: center;
}
