body {
    margin: 0;
    padding: 0;
    background-color: #232634;
    font-family: 'main1', Helvetica;
    color: #ffffff;
    background-image: url('/proj/atlas-dev/grain.png');
    background-size: 200px;
    image-rendering: pixelated; /* Makes the image render with a pixelated look */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-pixelated; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Safari */
    -ms-interpolation-mode: nearest-neighbor; /
}

.container {
    width: 1100px;
    margin: auto;
    padding: 30px;
    padding-top: 45px;
    background-color: #222222;
    border: #3b3b3b;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
}

p:not(.subcontainer p) {
    margin: 30px;
}

.scrollview {
    height: 300px;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #3b3b3b;
    background-color: #222222;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
    background-image: url('/proj/atlas-dev/grain.png');
    background-size: 200px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.subcontainer {
    width: auto;
    background-color: #222222;
    border: 1px solid #3b3b3b;
    padding: 10px 15px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
    background-image: url('/proj/atlas-dev/grain.png');
    background-size: 200px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 1000;

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    background: linear-gradient(to bottom, #434343, #2a2a2a);
    border-bottom: 1px solid #3b3b3b;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
    padding-left: calc((100% - 1160px) / 2);
    font-family: 'main1', Helvetica;
}


.topbar-btn {
    color: #c9c9c9;
    text-decoration: none;
    padding: 8px 12px;
    border: none;

    background: linear-gradient(to bottom, #434343, #2a2a2a);
    transition: background-color 0.1s, border-color 0.1s;
}

.topbar-inner {
    display: flex;
    align-items: center;
    height: 35px;
}

.topbar-btn:last-child {
    border-left: none;
}


.topbar-btn:hover {
    color: #ffffff;;
}

a:link {
    color: #c9c9c9;
}

.blur-box {
    position: fixed; /* or absolute */
    top: 100px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    z-index: 2000; /* Must be higher than other content */
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
    border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #444 #1e1e1e;
}
