@font-face {
    font-family: 'phenix-america';
    src: url(/src/fonts/PhenixAmerican.ttf);
}

img {
    image-rendering: pixelated; /* Makes the image render with a pixelated look */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-pixelated; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Safari */
    -ms-interpolation-mode: nearest-neighbor; /* IE */
}



p {
    color: white;
    font-family: 'phenix-america';
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}